# Whenever this version string changes, the application is configured
# and rebuilt from scratch
VERSION = tursa-2025-09-23

CPP = cpp
FPP = cpp
CC = mpicc
CXX = mpicxx
F90 = mpif90
CUCC = nvcc

CPPFLAGS = -g -DSIMD_CPU
FPPFLAGS = -g -traditional
CFLAGS = -g -std=gnu99
CXXFLAGS = -g -std=c++17
F90FLAGS = -g -mcmodel=large
CUCCFLAGS = --compiler-bindir mpicxx -x cu -g -std=c++17 -D_GNU_SOURCE --expt-relaxed-constexpr --extended-lambda --forward-unknown-to-host-compiler --Werror cross-execution-space-call --Werror ext-lambda-captures-this --relocatable-device-code=true --objdir-as-tempdir

LD=nvcc --compiler-bindir mpicxx -g -std=c++17 -D_GNU_SOURCE --expt-relaxed-constexpr --extended-lambda --forward-unknown-to-host-compiler --Werror cross-execution-space-call --Werror ext-lambda-captures-this --relocatable-device-code=true --objdir-as-tempdir
LIBS=cudart curand nvToolsExt

C_LINE_DIRECTIVES = yes
F_LINE_DIRECTIVES = yes

DISABLE_INT16=yes
DISABLE_REAL16=yes

VECTORISE = yes
VECTORISE_ALIGNED_ARRAYS = no
VECTORISE_INLINE = no

DEBUG = no
CPP_DEBUG_FLAGS = -DCARPET_DEBUG
FPP_DEBUG_FLAGS = -DCARPET_DEBUG
C_DEBUG_FLAGS = -g
CXX_DEBUG_FLAGS = -g
F90_DEBUG_FLAGS = -g

OPTIMISE = yes
CPP_OPTIMISE_FLAGS = # -DCARPET_OPTIMISE -DNDEBUG
FPP_OPTIMISE_FLAGS = # -DCARPET_OPTIMISE -DNDEBUG
C_OPTIMISE_FLAGS = -O3
CXX_OPTIMISE_FLAGS = -O3
F90_OPTIMISE_FLAGS = -O3
CUCC_OPTIMISE_FLAGS = -O3

C_NO_OPTIMISE_FLAGS = -O0
CXX_NO_OPTIMISE_FLAGS = -O0
F90_NO_OPTIMISE_FLAGS = -O0

PROFILE = no
CPP_PROFILE_FLAGS =
FPP_PROFILE_FLAGS =
C_PROFILE_FLAGS = -pg
CXX_PROFILE_FLAGS = -pg
F90_PROFILE_FLAGS = -pg
CUCC_PROFILE_FLAGS = -pg

OPENMP = no
CPP_OPENMP_FLAGS = -fopenmp
FPP_OPENMP_FLAGS = -fopenmp
C_OPENMP_FLAGS = -fopenmp
CXX_OPENMP_FLAGS = -fopenmp
F90_OPENMP_FLAGS = -fopenmp
CUCC_OPENMP_FLAGS = -fopenmp
LD_OPENMP_FLAGS = -fopenmp

WARN = yes
CPP_WARN_FLAGS =
FPP_WARN_FLAGS = -Wall
C_WARN_FLAGS = -Wall
CXX_WARN_FLAGS = -Wall
F90_WARN_FLAGS = -Wall
CUCC_WARN_FLAGS = -Wall

AMREX_ENABLE_CUDA = yes
AMREX_CUDA_ARCH = 80
AMREX_CMAKE_CUDA_ARCHITECTURES = 80

BOOST_DIR = NO_BUILD

BLAS_DIR = ${NETLIB_LAPACK_DIR}

CUDA_LIB_DIRS = ${CUDA_DIR}/lib64
CUDA_INC_DIRS = ${CUDA_DIR}/include
CUDA_LIBS = cudart nvToolsExt

FFTW3_DIR = ${FFTW_DIR}

#GSL_DIR = NO_BUILD

#HDF5_DIR = NO_BUILD

#HWLOC_DIR = NO_BUILD

LAPACK_DIR = ${NETLIB_LAPACK_DIR}

#LIBJPEG_DIR = NO_BUILD

#MPI_DIR = NONE

NSIMD_ARCH = AVX2
NSIMD_SIMD = AVX2

OPENBLAS_DIR = NO_BUILD
OPENBLAS_LIBS =

PAPI_DIR = NO_BUILD

PETSC_DIR = NO_BUILD

PTHREADS_DIR = NO_BUILD

ZLIB_DIR = NO_BUILD
