# Whenever this version string changes, the application is configured
# and rebuilt from scratch
VERSION = cosma8-2026-03-26

CPP = cpp
FPP = cpp
CC  = icx
CXX = icpx
F90 = ifx

CPPFLAGS = -g
FPPFLAGS = -g -traditional
CFLAGS   = -g -traceback -march=core-avx2 -align -std=gnu99
CXXFLAGS = -g -traceback -march=core-avx2 -align -std=gnu++17
F90FLAGS = -g -traceback -march=core-avx2 -align -pad

# LDFLAGS = -march=core-avx2
# LIBDIRS = ${LIBRARY_PATH}
# SYS_INC_DIRS = ${CPATH}

C_LINE_DIRECTIVES = yes
F_LINE_DIRECTIVES = yes

VECTORISE                = yes
VECTORISE_ALIGNED_ARRAYS = no
VECTORISE_INLINE         = no

DEBUG           = no
CPP_DEBUG_FLAGS = -DCARPET_DEBUG
FPP_DEBUG_FLAGS = -DCARPET_DEBUG
C_DEBUG_FLAGS   = -O0
CXX_DEBUG_FLAGS = -O0
F90_DEBUG_FLAGS = -O0 -check bounds -check format

# -ipo increases dramatically the compilation time, but it can
# lead to a 1-2% performance boost

OPTIMISE           = yes
CPP_OPTIMISE_FLAGS = # -DCARPET_OPTIMISE -DNDEBUG
FPP_OPTIMISE_FLAGS = # -DCARPET_OPTIMISE -DNDEBUG
C_OPTIMISE_FLAGS   = -O2 # -ipo
CXX_OPTIMISE_FLAGS = -O2 # -ipo
F90_OPTIMISE_FLAGS = -O2 # -ipo

CPP_NO_OPTIMISE_FLAGS  =
FPP_NO_OPTIMISE_FLAGS  =
C_NO_OPTIMISE_FLAGS    = -O0
CXX_NO_OPTIMISE_FLAGS  = -O0
CUCC_NO_OPTIMISE_FLAGS =
F90_NO_OPTIMISE_FLAGS  = -O0

PROFILE           = no
CPP_PROFILE_FLAGS =
FPP_PROFILE_FLAGS =
C_PROFILE_FLAGS   = -pg
CXX_PROFILE_FLAGS = -pg
F90_PROFILE_FLAGS = -pg

OPENMP           = yes
CPP_OPENMP_FLAGS = #-fopenmp
FPP_OPENMP_FLAGS = #-fopenmp
C_OPENMP_FLAGS   = -qopenmp
CXX_OPENMP_FLAGS = -qopenmp
F90_OPENMP_FLAGS = -qopenmp

WARN           = yes
CPP_WARN_FLAGS =
FPP_WARN_FLAGS =
C_WARN_FLAGS   =
CXX_WARN_FLAGS =
F90_WARN_FLAGS =


BLAS_DIR  = ${MKLROOT}/lib/intel64
BLAS_LIBS = mkl_intel_lp64 mkl_sequential mkl_core

LAPACK_DIR  = ${MKLROOT}/lib/intel64
LAPACK_LIBS = mkl_intel_lp64 mkl_sequential mkl_core

OPENBLAS_DIR  = ${MKLROOT}
OPENBLAS_LIB_DIRS  = ${MKLROOT}/lib/intel64
OPENBLAS_LIBS = mkl_intel_lp64 mkl_sequential mkl_core

NSIMD_ARCH = AVX2
NSIMD_SIMD = AVX2

HDF5_DIR = ${HDF5_HOME}
HDF5_INC_DIRS = ${HDF5_DIR}/include
HDF5_LIB_DIRS = ${HDF5_DIR}/lib
HDF5_LIBS = hdf5_hl_fortran hdf5_hl hdf5_fortran hdf5

GSL_DIR = /cosma/local/gsl/2.8/
GSL_INC_DIRS = ${GSL_DIR}/include
GSL_LIB_DIRS = ${GSL_DIR}/lib
GSL_LIBS = gsl gslcblas m

HWLOC_DIR = /cosma/local/hwloc/2.11.1/

MPI_DIR      = ${I_MPI_ROOT}
MPI_INC_DIRS = ${I_MPI_ROOT}/include
MPI_LIB_DIRS = ${I_MPI_ROOT}/lib
MPI_LIBS     = mpicxx mpifort mpi dl rt pthread

FFTW3_DIR = ${MKLROOT}
FFTW3_LIB_DIRS = ${MKLROOT}/lib/intel64
FFTW3_INC_DIRS = ${MKLROOT}/include/fftw
FFTW3_LIBS = mkl_intel_lp64 mkl_sequential mkl_core

PAPI_DIR = /cosma/local/papi/7.0.1

PETSC_LAPACK_EXTRA_LIBS = mkl_intel_lp64 mkl_sequential mkl_core

PTHREADS_DIR = NO_BUILD
